{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div id="createform">
    {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.create_date, {label_attr: {class: 'radio-custom'} }) }}
            </div>
            <div class="col">
                {{ form_row(form.modify_date, {label_attr: {class: 'radio-custom'} }) }}
            </div>
        </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>
{% endblock %}